# Data Science Tools and Ecosystem

# Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author: Hugo Garcia Tecocoatzi

**Objectives:**
List popular languages for Data Science
+ Python
+ R
+ C
+ C++

List of Data Science languages
1. Python
2. R
3. C
4. C++
5. JAVA

Some of the commonly used libraries used by Data Scientists include:

    1. Pandas
    2. Numpy
    3. ggplot
    4. caret

Data Science Tools.

1. Jupyter
2. RStudio
3. Github

### Below are a few examples of evaluating arithmetic expressions in Python

1. sum 2+2
2. product 2*3
3. etc

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [2]:
print('This code convert 200 min to',200/60,'hr')
#This will convert 200 minutes to hours by diving by 60

This code convert 200 min to 3.3333333333333335 hr